name: Deploy agents infrastructure
on:
  workflow_call:
  workflow_dispatch:
permissions: {}
env:
  aws_role: arn:aws:iam::393416225559:role/GithubDeployAgentsInfrastructure
concurrency:
  group: deploy-agents
defaults:
  run:
    working-directory: agents
jobs:
  plan:
    name: Terraform plan
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ env.aws_role }}
          aws-region: eu-west-2
      - name: Install terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.3
      - name: Terraform Plan
        id: plan
        run: |
          set -e
          terraform init -upgrade
          terraform plan \
          -out ${{ runner.temp }}/tfplan | tee ${{ runner.temp }}/tf_stdout
          TF_EXIT_CODE="${PIPESTATUS[0]}"
          cat ${{ runner.temp }}/tf_stdout
          if [ "$TF_EXIT_CODE" -eq 1 ]; then
              exit "$TF_EXIT_CODE"
          fi
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: tfplan_agents
          path: ${{ runner.temp }}/tfplan
  apply:
    name: Terraform apply
    runs-on: ubuntu-latest
    needs: plan
    permissions:
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ env.aws_role }}
          aws-region: eu-west-2
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: tfplan_agents
          path: ${{ runner.temp }}
      - name: Install terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.3
      - name: Apply the changes
        run: |
          set -e
          terraform init -upgrade
          terraform apply ${{ runner.temp }}/tfplan
