name: Test
on:
  pull_request:
  workflow_call:
permissions: {}
jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform
    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.3
      - run: terraform init -backend=false
      - run: terraform validate
